@using FileStorage.Models.Data <!--подключаем модели-->
@model IEnumerable<FileModel> 


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Привет! Сервер запущен @DateTime.Now.ToString("D") в @DateTime.Now.ToString("t")</p>
</div>

<h2>Все файлы</h2> <!--перебераем элементы в модели-->
@{
    foreach(var file in Model) 
    {
     <div>
     <h2>Модель: @file.Name</h2>
     <h2>Модель: @file.Description</h2>
     <h2>Модель: @file.Content</h2>
     </div>   
    }
    <!--вывести данные в HTML формате-->
}


<div class="row"> 
    <div class="col-4"><button onclick="test()">загрузить</button></div>
    <div class="col-8">
        <<div>
            <input type="text" id="field1">
        </div>
        <div>
            <input type="text" id="other_field">
        </div>
    </div>

    </div>
    @section Scripts{
    <script type="text/javascript">
        function test() {
            const field = document.getElementById("field1");
            const fieldValue = field.value;
            if (!fieldValue) {
                alert("Поле пустое");
            }
            else {
                alert("Значение поля: " + fieldValue);
            }



            $.get('/api/file')
            .then(function (response) {
                console.log(response);
            });
        }

        
        </script>
    }
        